{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "files": [".prettierrc", ".eslintrc", ".babelrc"],
      "options": { "parser": "json" }
    }
  ]
}
