<md-card>
  <md-card-title>Admin area login</md-card-title>
  <md-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <p class="center">
        <md-input maxLength="6" placeholder="Enter code" required pattern="[0-9]{6}" ngControl="tokenControl" #tokenControl="ngForm" [(ngModel)]="token"></md-input>
      </p>
      <p class="center">
        <button type="submit" md-raised-button color="primary" [disabled]="!loginForm.form.valid">Submit</button>
      </p>
    </form>
  </md-card-content>
</md-card>