section {
  md-card.filters {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 505px;
    margin: 0 auto;
    margin-bottom: 20px;

    transition: .8s height;

    > .ng-enter {
      height: 0;
    }

    small[title] {
      border-bottom: 1px dotted black;
      cursor: help;
    }
  }

  .cards-container {
    text-align: center;

    > a {
      display: inline-block;
      margin: 0 5px;
      margin-bottom: 20px;
      width: 20%;
      max-width: 508px;
      vertical-align: top;

      @media (max-width: 1279px) {
        width: 30%;
      }

      @media (max-width: 505px) {
        width: 100%;
      }

      > img {
        margin: 0;
        width: 100%;
      }
    }
  }

  > button {
    display: block;
    margin: 0 auto;
  }
}
