section {
  md-card.filters {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 505px;
    margin: 0 auto;
    margin-bottom: 20px;

    transition: .8s height;

    > .ng-enter {
      height: 0;
    }

    md-card-content {

      table {

        width: 100%;

        td {
          padding: 5px;

          &:first-child {
            text-align: right;
          }

          &:last-child {
            text-align: left;
          }

          &[colspan="2"] {
            text-align: center;
          }

          select {
            max-width: 100%;
          }
        }
      }

    }

    md-checkbox small {
      border-bottom: 1px dotted black;
      cursor: help;
    }
  }

  .cards-container {
    text-align: center;

    > a {
      border-radius: 3px;
      display: inline-block;
      font-size: 0;
      margin: 0 5px;
      margin-bottom: 20px;
      width: 20%;
      max-width: 508px;
      vertical-align: top;
      transform: scale(1, 1);
      transition-duration: 200ms;
      transition-property: border, box-shadow, margin, opacity, transform, width;

      &:hover {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.6), 0 4px 8px 0 rgba(0,0,0,0.8);
        transform: scale(1.03, 1.03);
      }

      @media (max-width: 1279px) {
        width: 30%;
      }

      @media (max-width: 505px) {
        width: 100%;
      }

      > img {
        border-radius: 3px;
        margin: 0;
        width: 100%;
      }
    }
  }

  > button {
    display: block;
    margin: 0 auto;
  }
}
