<section>
  <form #searchForm="ngForm">
    <md-card class="filters">
      <md-card-title>
        <md-input placeholder="Search" ngControl="searchTermControl" [(ngModel)]="searchTerm" (ngModelChange)="onSearch($event)">
        </md-input>
        <button md-icon-button [color]="showFilters ? 'primary' : 'default'">
          <i class="material-icons" (click)="toggleFilters($event)">tune</i>
        </button>
      </md-card-title>
      <md-card-content *ngIf="showFilters" class="ng-animate">
        <p>
          <md-checkbox align="end" [(ngModel)]="extendedSearch"><small title="Enabling this will search on the card's texts and keywords too.">Extended search?</small></md-checkbox>
        </p>
        <p>
          <label for="typeFilter">Card type: </label>
          <select name="typeFilter" [(ngModel)]="typeFilter">
            <option [value]="-1">Please select</option>
            <option [value]="i" *ngFor="let cardType of cardTypes; let i = index">{{ cardType }}</option>
          </select>
        </p>
        <p>
          <label for="factionFilter">Faction: </label>
          <select name="factionFilter" [(ngModel)]="factionFilter">
            <option [value]="-1">Please select</option>
            <option [value]="i" *ngFor="let cardFaction of cardFactions; let i = index">{{ cardFaction }}</option>
          </select>
        </p>
        <p>
          <label for="sortBy">Sort by: </label>
          <select name="sortBy" [(ngModel)]="sortBy">
            <option value="">Please select</option>
            <option [value]="field" *ngFor="let field of sortFields">{{ field | mpcapitalise }}</option>
          </select>
          <md-checkbox [(ngModel)]="reverse">reverse order?</md-checkbox>
        </p>
      </md-card-content>
      <md-card-actions *ngIf="showFilters" class="ng-animate">
        <button md-button color="primary" (click)="onSearch()">APPLY</button>
        <button md-button>RESET</button>
      </md-card-actions>
    </md-card>
  </form>
  <div class="cards-container" [ngSwitch]="!!artist">
    <template [ngSwitchWhen]="false">
      <a *ngFor="let card of cards | async" [routerLinkle]="['CardDetails', { code: card.code }]">
        <md-card>
          <img md-card-image src="//cdn.purpletentacle.rocks/JPGEN/{{ card.illustrations[card.defaultIllustration || 0].code }}.jpg">
          <md-card-title>
            {{ card.name }} - <small>{{ card.code }}</small>
          </md-card-title>
        </md-card>
      </a>
    </template>
    <template [ngSwitchWhen]="true">
      <template  ngFor let-card [ngForOf]="cards | async">
        <a *ngFor="let illustration of card.illustrations" [routerLinkle]="['CardDetails', { code: card.code }]">
          <md-card>
            <img md-card-image src="//cdn.purpletentacle.rocks/JPGEN/{{ illustration.code }}.jpg">
            <md-card-title>
              {{ card.name }} - <small>{{ card.code }}</small>
            </md-card-title>
          </md-card>
        </a>
      </template>
    </template>
  </div>
</section>