<section *ngIf="card">
  <md-card>
    <a *ngIf="!showIllustrations" href="{{ 'CDNROOT' | translate }}/PNG/{{ defaultIllustration.code }}.png" target="_blank">
      <img md-card-image src="{{ 'CDNROOT' | translate }}/JPG/{{ defaultIllustration.code }}.jpg">
    </a>
    <md-card-title *ngIf="!showIllustrations">
      <template ngFor let-artistName [ngForOf]="defaultIllustration.artists" let-i="index">
        <span *ngIf="i > 0">, </span>
        <a [routerLink]="['/cards', 'artist', artistName]">{{ artistName }}</a>
      </template>
    </md-card-title>
    <md-card-title *ngIf="showIllustrations">
      {{ card.name }} - <small>{{ card.code }}</small>
    </md-card-title>
    <md-card-content>
      <h3 *ngIf="card.texts['Notes'].length">{{ 'Notes' | translate }}:</h3>
      <ul>
        <li *ngFor="let text of card.texts['Notes']" [innerHTML]="text | mpmarkdown"></li>
      </ul>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button color="primary" (click)="toggleIllustrations()">{{ 'TOGGLE ILLUSTRATIONS' | translate }} ({{ card.illustrations.length }})</button>
      <a md-button color="warn" *ngIf="isLogged()" [routerLink]="['/cards', card.code, 'edit']">{{ 'EDIT' | translate }}</a>
    </md-card-actions>
  </md-card>
  <div class="cards-container" *ngIf="showIllustrations">
    <md-card *ngFor="let illustration of card.illustrations">
      <a href="{{ 'CDNROOT' | translate }}/PNG/{{ illustration.code }}.png" target="_blank">
        <img md-card-image src="{{ 'CDNROOT' | translate }}/JPG/{{ illustration.code }}.jpg">
      </a>
      <md-card-title>
        <template ngFor let-artistName [ngForOf]="defaultIllustration.artists" let-i="index">
          <span *ngIf="i > 0">, </span>
          <a [routerLink]="['/cards', 'artist', artistName]">{{ artistName }}</a>
        </template>
      </md-card-title>
      <md-card-content>
        <p [innerHTML]="illustration.note | mpmarkdown"></p>
      </md-card-content>
    </md-card>
  </div>
</section>
