section {
  width: 100%;
  max-width: 505px;
  margin: 0 auto;
}

.cards-container {
  margin-top: 20px;
	display: flex;
  align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0;

  > md-card {
    width: 50%;
    box-sizing: border-box;

  }

}
